$color: #2c92cc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color;

  .container {
    margin: 1rem auto;
    width: 50vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      border-bottom: 0.2rem solid $color;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 5rem;
      width: 100%;

      label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
      }

      input[type="checkbox"] {
        width: 25%;
        height: 1.2rem;
      }

      .checked {
        text-decoration: line-through 0.2rem;
        font-weight: bold;
        font-size: 1.5rem;
        color: $color;
      }
    }
  }
}
